body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #ccc;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 400%;
  font-weight: normal;
}

a {
  color: #33f;
}

a:hover {
  color: #00f;
}

#icon {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 500px;
  height: 500px;
  border: solid #333 5px;
  border-radius: 250px;
  background: url(../img/nikutai.png) no-repeat;
  background-color: #fff;
  background-size: contain;
}

#contacts {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.contact img {
  width: 120px;
  height: 120px;
}

#aboutme {
  width: 80%;
  background-color: #fefefe;
  border: 3px solid #333;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 3em;
  padding: 1em;
}

#aboutme hr {
  border-color: #333;
  margin: 20px auto;
}

@media screen and (max-width: 480px) {
  body{
    margin-left: 0;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
  }

  #icon {
    width: 240px;
    height: 240px;
    border-radius: 120px;
  }

  #contacts{
    width: 100%;
  }

  .contact img {
    width: 64px;
    height: 64px;
  }
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  a {
    color: #ff3;
  }
  body {
    color: #fff;
    background-color: #888;
  }
  a:hover {
    color: #ff0;
  }
  #icon {
    background-color: #090909;
  }
  #aboutme {
    background-color: #010101;
    color: #fff;
    border: 3px solid #ccc;
    border-radius: 10px;
  }
}
