body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #EAFFEA;
  color: #090;
}

h1 {
  text-align: center;
  font-size: 400%;
  font-weight: normal;
}

#icon {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 500px;
  height: 500px;
  border-radius: 250px;
  background: url(https://utgw.net/img/koishi7.png) no-repeat;
  background-size: contain;
}

#contacts {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.contact img {
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 480px) {
  body{
    margin-left: 0;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
  }

  #icon {
    width: 240px;
    height: 240px;
    border-radius: 120px;
  }

  #contacts{
    width: 100%;
  }

  .contact img {
    width: 64px;
    height: 64px;
  }
}
